@import '../../node_modules/minireset.css/minireset.min.css';
@import '../../node_modules/normalize.css/normalize.css';

$highlight: #6ED8C9;
$heavy-font-weight: 700;
$light-font-weight: 300;
$hover: black;

body {
  font-family: 'Nunito', sans-serif;
  font-weight: $light-font-weight;
  background: white;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

a {
  color: $highlight;
  text-decoration: inherit;
  background: white;
  transition: background 0.5s ease, color 0.5s ease;
}
.carousel-container a:hover {
  color: white;
  background: $highlight;
}

.landing-contents {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  margin-top: 96px;
}

.menu-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  font-size: 24px;
  padding: 0 16px 0 0;
  border-right: 2px solid $highlight;
}

.logo-container {
  margin: 48px 0 0 0;
}

.logo-img {
  margin: 0 0 0 16px;
}

.carousel-container {
  font-size: 40px;
  display: flex;
  flex-flow: row;
  padding: 0 24px;
  max-width: 720px;
  min-width: 280px;
}

@media (max-width: 667px) {
  .landing-contents {
    display: flex;
    flex-flow: column;
    margin-top: 16px;
    width: 320px;
  }
  .menu-container {
    display: flex;
    flex-flow: column;
    -webkit-justify-content: center;
    font-size: 20px;
    padding: 0 0 16px 0;
    border-right: none;
    border-bottom: 2px solid $highlight;
    margin: 0 0 16px 0;
    width: 100%;
  }
  .logo-container {
    margin: 0;
    display: flex;
    -webkit-justify-content: space-evenly;
  }
  .logo-img {
    margin: 0;
  }
  .carousel-container {
    padding: 0 16px;
  }
}


