@import '../../node_modules/minireset.css/minireset.min.css';
@import '../../node_modules/normalize.css/normalize.css';

$success-green: #85ff85;
$heavy-font-weight: 700;
$light-font-weight: 300;

body {
  font-family: 'Nunito', sans-serif;
  background: white;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.landing-contents {
  width: 680px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 160px;
}

.menu-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  font-size: 24px;
  margin-bottom: 24px;
}

.carousel-container {
  font-size: 48px;
}