$highlight: #6ED8C9;
$heavy-font-weight: 600;
$light-font-weight: 300;

.section-header {
  font-weight: $heavy-font-weight;
  border-bottom: 2px dotted $highlight;
  width: 100%;
  margin: 0 0 16px 0
}

.bold-text {
  font-weight: $heavy-font-weight;
}

.list {
  font-size: 16px;
}

.see-linkedin {
  font-size: 16px;
  margin: 0 0 24px 0;
}

.education-section {
  padding: 0 0 32px 0;
}