.selected {
  font-weight: 600;
}

.menu-item-list {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  text-align: right;
}

.menu-item-list > .menu-item:hover {
  cursor: pointer;
}

.menu-item {
  margin: 0 0 8px 0;
}

@media screen and (max-width: 667) {
  .menu-item-list {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }
}