.carousel-item {
  width: 680px;
  text-align: center;
}

.selected-item {
}


// CSS Animations
.slide-enter {
  transform: translate(100%, 0%);
}

.slide-enter.slide-enter-active {
  transform: translate(0%, 0%);
  transition: transform 700ms ease-in-out;
}

.slide-leave {
  transform: translate(0%, 0%);
}

.slide-leave.slide-leave-active {
  transform: translate(-100%, 0%);
  transition: transform 300ms ease-in-out;
}