.carousel-item {

}

.selected-item {
}

// CSS Animations
.slide-enter {
  opacity: 0;
  transform: translateY(100%);
}

.slide-enter.slide-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 700ms ease, transform 700ms ease;
}

.slide-leave {
  opacity: 1;
}

.slide-leave.slide-leave-active {
  opacity: 0;
}