.carousel-item {
  display: inline-block;
}

.selected-item {
}


// CSS Animations
.slide-enter {
  transform: translateY(100%);
}

.slide-enter.slide-enter-active {
  transform: translateY(0%);
  transition: transform 700ms ease-in-out;
}

.slide-leave {
  transform: translateY(0%);
}

.slide-leave.slide-leave-active {
  transform: translateY(-100%);
  transition: transform 300ms ease-in-out;
}